<div class="home">
  <div class="home__container">
    <div class="home__item">
      <h1 class="home__title title">Welcome to Health Heaven Clinic</h1>
      <p class="home__text">
        We provide comprehensive medical services for patients of all ages, from newborns to seniors. Our experienced team of healthcare professionals is dedicated to helping you and your family stay healthy and happy
      </p>
      <% unless user_signed_in? || doctor_signed_in? %>
        <p class="home__text">
          To make an Appointment, please Log In or Sign Up
        </p>
        <div class="home__buttons">
          <div class="home__button">
            <%= link_to 'Sign Up!', new_user_registration_path%>
          </div>
          <div class="home__button">
            <%= link_to 'Log In', new_user_session_path%>
          </div>
        </div>
      <%else%>
        <p class="home__text">
          To make an Appointment, please go to your <%= link_to 'profile page', profile_users_path, class: 'home__link'%> <br>
          Thanks for using our platform!
        </p>
      <% end %>
    </div>
    <div class="home__item-ibg home__item"">
        <img src="https://imageup.ru/img63/4205065/happy-family-mother-father-children-son-daughter-sunset-nature-150794881.jpg" alt="">
    </div>
  </div>
</div>

