<footer class="footer">
  <div class="footer__container">
    <div class="footer__item">
      VitPoll ©
    </div>
    <div class="footer__item">
      <%= Time.now.year %> y.
    </div>
  </div>
</footer>