.header {
  &__container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  padding: 20px 15px;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(245,248,249,0.21052170868347342) 100%);
  border-radius: 2px;
  &__item {
    
    &:first-child {
      flex: 1 1 auto;
    }
    .logo {
      font-size: 22px;
      font-weight: 900;
      text-shadow: 1px 0px 0px #000;
      display: flex;
      &__link {
        &:first-child{
          animation: logoAnimFirst  2s ;
        }
        &:last-child{
          animation: logoAnimLast  2s ;
        }
      }
    }
  }
  &__link {
    text-decoration: none;
    color: #000;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.1s ease 0s;
    font-size: 18px;
    &:hover {
      color: rgba(0, 0, 0, 0.664);
    }
    
  }
  
}
input.header__link {
  font-size: 18px;
  font-family: 'Lato';
}


@keyframes logoAnimFirst {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes logoAnimLast {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}